<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clients Package Renewal </title>
    <style>
       table,td,th {
           text-align: center;
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>


{% if renewals %}
{#    {{ renewals }}#}
    <table>
        <thead>
        <tr><th>NAME</th><th>MOBILE</th><th>PACKAGE-ENDS</th></tr>
        </thead>
        <tbody>
        {% for renewal in renewals %}
            <tr><td>{{ renewal.name }}</td> <td>{{ renewal.mobile }}</td> <td>{{ renewal.packagee }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h1>No Renewal Is their </h1>
{% endif %}
</body>
</html>