<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View-Clients</title>
    <style>
       table,td,th {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

        <table>
           <thead>
                <tr><th>NAME</th><th>AGE</th><th>GENDER</th><th>EMAIL</th><th>MOBILE-NO.</th><th>DATEOFBIRTH</th>
                    <th>Edit</th></tr>
           </thead>
            {% for viewclient in viewclients %}
            <tbody>
                <tr><td>{{ viewclient.name }}</td>
                    <td>{{ viewclient.age }}</td>
                    <td>{{ viewclient.gender }}</td>
                <td>{{ viewclient.email }}</td> <td>{{ viewclient.mobileno }}</td> <td>{{ viewclient.dob }}</td>
                <td><a href="{% url "edit"  viewclient.id %}">Edit</a></td></tr>
            </tbody>
            {% endfor %}
        </table>

</body>
</html>
